@import url("/node_modules/bootstrap/dist/css/bootstrap-grid.min.css");
@import url("/node_modules/bootstrap/dist/css/bootstrap-utilities.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.hidden {
  display: none !important;
}
